[package]
name = "drm-core"
version = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }

[dependencies]
data-encoding = "2"
hex = "0.4"
hex-literal = "1.1"
thiserror = "2"
